name: Main tests

on: push

jobs:
  lint-and-test:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        php-versions: ['7.4', '8.2']
    steps:
      - uses: actions/checkout@v6.0.0
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
      - run: composer install --no-interaction
      - run: |
          vendor/bin/php-cs-fixer fix --dry-run -v --diff
          vendor/bin/kahlan
          vendor/bin/psalm
  standardjs:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.0
      - uses: actions/setup-node@v4
        with:
          node-version: '14'
      - run: yarn install --non-interactive
      - run: yarn run standard
